body {
    background-image: url('logincover.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* This makes the body fill the viewport height */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Added to position child elements absolutely */
}

.gradient-opacity {
    position: absolute; /* Position it absolutely within the body */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Make sure it fills the width */
    height: 100%; /* Fill the entire height of the body */
    background: linear-gradient(to bottom, rgb(255, 165, 0), rgb(255, 204, 0), rgb(255, 215, 0), rgb(255, 255, 0), rgb(153, 204, 0), rgb(0, 128, 0));
    z-index: 5; /* Make sure it is below the login container */
    opacity: 0.4; /* Set the desired opacity */
}

.ontop {
    position: absolute; /* Position it absolutely */
    top: 70px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center adjustment */
    z-index: 10; /* Ensure it's above the gradient */
}

    .ontop img {
        width: 550px; /* Set a width for the image, adjust as needed */
        height: 250px; /* Maintain aspect ratio */
    }

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    width: 100%;
    text-align: center; /* Center text and elements inside */
    z-index: 10; /* Ensure it's above the gradient */
}

@media (max-width: 768px){
    .ontop img{
        width: 350px;
        height: 150px;
    }
    .ontop{
        top: 120px;
    }
}
